section{
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
	
}
h2{width: 17em;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}


#bit{
	width: 17em;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;


}

	.pl{

width: 17em;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;


	}
	

.card{
width: 17em;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	
	
}

